{
  "presets": [
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd-mobile"
      }
    ],
    [
      "@babel/plugin-transform-react-constant-elements"
    ],
    [
      "@babel/plugin-syntax-dynamic-import"
    ]
  ]
}