<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/antd-mobile/2.1.8/antd-mobile.css" rel="stylesheet">
    <title>demo</title>
</head>
<body>
<div id="app" style="height: 100%"></div>
<script src="https://cdn.bootcss.com/lodash.js/4.17.5/lodash.min.js"></script>
<script src="https://cdn.bootcss.com/react/16.0.0/umd/react.production.min.js"></script>
<script src="https://cdn.bootcss.com/react-dom/16.0.0/umd/react-dom.production.min.js"></script>
<script src="https://cdn.bootcss.com/mobx/3.6.1/mobx.umd.min.js"></script>
<script src="https://cdn.bootcss.com/mobx-react/4.4.2/index.min.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.19.2/moment.min.js"></script>
<script src="https://cdn.bootcss.com/moment.js/2.19.2/locale/zh-cn.js"></script>
<script src="https://cdn.bootcss.com/react-router-dom/4.2.2/react-router-dom.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<script src="https://cdn.bootcss.com/bluebird/3.5.1/bluebird.min.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
</body>
</html>
